// forgotPasswordMessage.jade

extends ../layout

block content
  - var title = "Forgot Password Message"

  .container
    .row
      .col-md-6.offset-md-3
        h2.mb-4= title

        p Se ha enviado un mensaje a tu correo electrónico con instrucciones para restablecer tu contraseña. Por favor, verifica tu bandeja de entrada.

        // Otros elementos HTML o contenido adicional si es necesario
