extends ../layout

block content
    - var title = "Forgot Password"
    - var info = locals.info

    br
    br
    br
       
    br
    br
    br   
    br
    br
    br
    .container
        .row
            .col-md-6.offset-md-3
                if info && info.message
                    div.alert.alert-danger
                        = info.message
                h2.mb-4 #{title}
                form#forgotPasswordForm(action='/forgotPassword', method='post')
                    .form-group
                        label(for='email') Ingresa tu correo electrónico:
                        input#email.form-control(type='email', placeholder='Correo electrónico', name='email', required)

                    button.btn.btn-primary(type='submit') Enviar solicitud de restablecimiento de contraseña
