extends ../layout 

block content

    - var title = "Bienvenido!"
    - var correo = 'CNTRASEÑA'
    - var contrasena = 'PASS'

    br
    br
    br
    br
    br
    br

    .container
      h1 = title
      p #{JSON.stringify(info)}
      p Tu cuenta ha sido creada satisfactoriamente.
      p Correo electrónico: #{correo}   // Recuerda manejar los datos sensibles de manera segura.
      p Contraseña: #{contrasena}
      a.btn.btn-primary(href='/') Volver a la página principal
