extends layout

block content
    - var title = 'Políticas de Publicidad' 

    br
    br
    br
    br
    br
    .row
      .col-md-8.offset-md-2
        h1.text-center #{title}
        hr.my-4
        p.lead
          | Esta Política de Privacidad explica cómo [Nombre de tu Empresa] recopila, utiliza, y comparte tu información personal cuando utilizas nuestros servicios a través de nuestro sitio web.

        h2 Recopilación de Información
        p
          | Recopilamos información sobre ti cuando te registras en nuestro sitio, realizas una compra, te suscribes a nuestro boletín, respondes a una encuesta o ingresas información en nuestro sitio.

        h2 Uso de Cookies
        p
          | Nuestro sitio utiliza cookies para mejorar la experiencia del usuario. Las cookies son pequeños archivos que un sitio o su proveedor de servicios transfieren al disco duro de tu computadora a través de tu navegador web (si lo permites) que permite que los sistemas del sitio o proveedor de servicios reconozcan tu navegador y capturen y recuerden cierta información.

        h2 Cómo Utilizamos Tu Información
        p
          | Podemos utilizar la información que recopilamos de ti cuando te registras, realizas una compra, te suscribes a nuestro boletín, respondes a una encuesta o comunicación de marketing, navegas por el sitio web, o utilizas otras funciones del sitio de las siguientes maneras:
          ul
            li Para personalizar tu experiencia y permitirnos entregar el tipo de contenido y ofertas de productos en los que estás más interesado.
            li Para mejorar nuestro sitio web con el fin de servirte mejor.
            li Para permitirnos brindarte un mejor servicio al responder a tus solicitudes de servicio al cliente.

        h2 Tus Derechos
        p
          | Tienes derecho a acceder, rectificar o eliminar tus datos personales que tenemos. Si deseas ejercer estos derechos, por favor contáctanos.

        // Botón de Aceptar
        .text-center
          button.btn.btn-primary(type='button') Aceptar

        // Puedes seguir agregando más contenido según sea necesario